body {
    width: 900px;
}

fieldset {
    border: none;
    padding: 0px;
}

#page {
    width: 100%;
    font-family: Verdana, sans-serif;

}

#divRadio {
    width: 280px;
    padding: 5px;
    border: 1px solid black;
    background-color: #f5f5dc;
    text-align: center;
}

#Bibli {
    display: flex;
}

#tableA {
    width: 45%;
    border: double;
    margin-top: 10px;
    padding: 10px;
}

#tableA td {
    border-bottom: 1px solid black;
    font-style: italic;

}

#tableB {
    width: 45%;
    border: double;
    margin-top: 10px;
    padding: 10px;
    margin-left: 5px;
}

#tableB td {
    border-bottom: 1px solid black;
    font-style: italic;

}

#ref {
    width: 15%;
    font-size: 0.7em; 
}

#auteur {
    width: 20%;
}

#titre {
    width: 65%;
}

#depuis {
   font-size: 0.7em; 
}

#input {
    display: flex;
    margin-top: 10px;
}

#inputE {
    display: flex; 
    align-items: center; 
    margin-right: 20px
}

#inputR {
    display: flex; 
    align-items: center;
    margin-left: 245px
}

#emprun {
    margin: 5px;
    width: 50px;
}

#rendre {
    margin: 5px;
    width: 50px;
}